<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">
{% extends "my_base.html" %}
{% block title %}CSM-Dashboard{% endblock %}





{% block main %}

<h2> Hi {{ current_user.username }}! [{{current_user.id}}]</h2>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>



<!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  


   <!--BOOTSTRAP EXPERIMENT-->
   <div class="dropdown-menu">
    <h6 class="dropdown-header">Dropdown header</h6>
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
  </div>
  <!--BOOTSTRAP EXPERIMENT-->

<div class="container-fluid">
    <!--NEEDED FOR TEST!-->
    <a href="{{url_for('main.new_snippet')}}"> New Snippet</a><br>
    {%if selected_snippet%}
        <a href="{{url_for('main.edit_snippet', id=selected_snippet.id)}}"> Edit Snippet</a><br>
        <a href="{{url_for('main.delete_snippet', id=selected_snippet.id)}}"> Delete Snippet</a><br>
    {%endif%}
    <a href="{{url_for('main.logout')}}">Press here to logout</a><br>


    <div class="row">
        <!-- Sidebar with Snippets -->
        <div class="col-md-4 col-lg-3 border-dark text-white">
            <h1 class="my-4">LOGO</h1>
            <div class="list-group">
                {% for snippet in snippets %}
                <a href="{{ url_for('main.dashboard', snippet_id=snippet.id) }}" class="list-group-item list-group-item-action bg-dark text-white">
                    {{ snippet.title }}
                </a>
                {% endfor %}
            </div>
        </div>

    <div class="col-md-8 col-lg-9">
        <div class="card border" id="code-card">
            <div class="custom-highlight">

                {% if selected_snippet %}
                

                <h3>{{ selected_snippet.title }}</h3>
                <h5>{{ selected_snippet.date_posted}} </h5>

                <!-- Hidden textarea to hold the text to be copied -->
                <textarea id="hiddenTextarea" style="position: absolute; left: -9999px;">{{ selected_snippet.content }}</textarea>
                <!-- Render the highlighted code -->
                {{ highlighted_code | safe }}
                
                 <!-- Copy button -->
                 <button onclick="copyToClipboard()">Copy Code</button>

                 <script>
                    function copyToClipboard() {
                        var copyText = document.getElementById("hiddenTextarea");
                        copyText.select();
                        copyText.setSelectionRange(0, 99999); // For mobile devices
                        navigator.clipboard.writeText(copyText.value);
                        alert("Copied the code to clipboard!");
                    }
                    </script>
                {% else %}
                <p>Select a snippet from the list to view its content here.</p>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>


{% endblock %}

