<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">
{% extends "my_base.html" %}

{% block title %}CSM-Dashboard{% endblock %}

{% block main %}

<h2> Hi {{ current_user.username }}! [{{current_user.id}}]</h2>

<div class="container-fluid">
    <!--NEEDED FOR TEST!-->
    <a href="{{url_for('main.new_snippet')}}"> New Snippet</a><br>
    {%if selected_snippet%}
        <a href="{{url_for('main.edit_snippet', id=selected_snippet.id)}}"> Edit Snippet</a><br>
        <a href="{{url_for('main.delete_snippet', id=selected_snippet.id)}}"> Delete Snippet</a><br>


        <!-- Modal IN-PROGRESS -->
        <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">MODAL-TEST</a><br>
        <!-- Modal -->





    {%endif%}
    <a href="{{url_for('main.logout')}}">Press here to logout</a><br>

    <h1 class="my-4">LOGO</h1>

    <div class="row">
        <!-- Sidebar with Snippets -->
        <div class="col-md-4 col-lg-3 border-dark text-white" id="code-list">
            <div class="list-group">
                {% for snippet in snippets %}
                <a href="{{ url_for('main.dashboard', snippet_id=snippet.id) }}" class="list-group-item list-group-item-action bg-dark text-white">
                    {{ snippet.title }}
                </a>
                {% endfor %}
            </div>
        </div>

    <div class="col-md-8 col-lg-9">
        <div class="card border" id="code-card">
            <div class="custom-highlight">

                {% if selected_snippet %}
                

                <h3>{{ selected_snippet.title }}</h3>
                <h5>{{ selected_snippet.date_posted}} </h5>

                <!-- Hidden textarea to hold the text to be copied -->
                <textarea id="hiddenTextarea" style="position: absolute; left: -9999px;">{{ selected_snippet.content }}</textarea>
                <!-- Render the highlighted code -->
                {{ highlighted_code | safe }}
                
                 <!-- Copy button -->
                 <button onclick="copyToClipboard()">Copy Code</button>

                 <script>
                    function copyToClipboard() {
                        var copyText = document.getElementById("hiddenTextarea");
                        copyText.select();
                        copyText.setSelectionRange(0, 99999); // For mobile devices
                        navigator.clipboard.writeText(copyText.value);
                        alert("Copied the code to clipboard!");
                    }
                    </script>
                {% else %}
                <p>Select a snippet from the list to view its content here.</p>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>


{% endblock %}

