{% extends "my_base.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">




{% block content %}



<div class="container-fluid">
    <!--NEEDED FOR TEST!-->
    <p>You are logged IN!</p>

    <div class="row">
        <!-- Sidebar with Snippets -->
        <div class="col-md-4 col-lg-3 bg-dark text-white">
            <h1 class="my-4">LOGO</h1>
            <div class="list-group">
                {% for snippet in snippets %}
                <a href="{{ url_for('main.dashboard', snippet_id=snippet.id) }}" class="list-group-item list-group-item-action bg-dark text-white">
                    {{ snippet.title }}
                </a>
                {% endfor %}
            </div>
        </div>

        <!-- Main content area -->
        <!--
        <div class="col-md-8 col-lg-9">
            <div class="card">
                <div class="card-body">
                    {% if selected_snippet %}
                    <h3>{{ selected_snippet.title }}</h3>
                    <pre><code>{{ selected_snippet.content }}</code></pre>
                    {% else %}
                    <p>Select a snippet from the list to view its content here.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    -->
    <div class="col-md-8 col-lg-9">
        <div class="card">
            <div class="card-body">
                {% if selected_snippet %}
                <h3>{{ selected_snippet.title }}</h3>
                <!-- Render the highlighted code -->
                {{ highlighted_code | safe }}
                {% else %}
                <p>Select a snippet from the list to view its content here.</p>
                {% endif %}
            </div>
        </div>
    </div>
    
    </div>
</div>
{{ highlighted_code | safe }}

{% endblock %}
