{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
{% endblock %}

{% block content %}
<body>
    <h1>Login Authentication System in Flask.</h1>

    <a href="{{url_for('main.login')}}">Login Page </a><br>

  
    <a href="{{url_for('main.register')}}">Register Page </a><br>
  </body>

{% endblock %}

</html>
