<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">
{% extends "my_base.html" %}
{% block title %}Login{% endblock %}


{% block main %}
<body>
    <h1>Login Page</h1>

    <a class="btn btn-primary" role="button" href="{{ url_for('main.register') }}"style="width: 25rem;"> Don't have an Account?</a><br>

    <div class="container">
        <h2>Login</h2>
        {{ wtf.quick_form(form) }}
    </div>

  </body>

{% endblock %}
</html>
