
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">


<link rel="stylesheet" href="{{ url_for('static', filename='codemirror5/lib/codemirror.css') }}">
<script src="{{ url_for('static', filename='codemirror5/lib/codemirror.js') }}"></script>
<!-- Include any additional modes (languages) you need -->
<script src="{{ url_for('static', filename='codemirror5/mode/python/python.js') }}"></script>
<!-- You can add more modes for other languages -->



{%extends 'my_base.html'%}
{% block title %}CSM-New Snippet{% endblock %}



{%block main%}
<body>
    <h1>New Snippet</h1>
    <a href="https://pygments.org/languages/">A List of Lanugages and file extensions </a>
    
    <div class="container">
      <form class="form form-horizontal" method="post" role="form">

        {{ form.hidden_tag() }}
  
        {{ wtf.form_errors(form, hiddens="only") }}
        {{wtf.form_field(form.title)}}
  
    <textarea name="content" id="content" rows="10" cols="50"></textarea>
        {{wtf.form_field(form.submit)}}
        </form>
      
        <script>
          var editor = CodeMirror.fromTextArea(document.getElementById("content"), {
              lineNumbers: true,
              mode: "python", // Change this to the default mode you want
              // Add other options as needed
          });
      </script>
  
    </div>

    <a href="{{url_for('main.dashboard')}}">Back To Dashboard</a>
  </form>




  </body>
{% endblock %}
