<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">
{% extends "my_base.html" %}
<!DOCTYPE html>
<html lang="en">

{% block title %}Register{% endblock %}


{% block main %}

<body>
    <h1>Register Page</h1>
    
    <div class="container">
      <h2>Register</h2>
      {{ wtf.quick_form(form) }}
    </div>

    <a href="{{url_for('main.login')}}">Already have an account? </a><br>
</body>

{% endblock %}
</html>
