pre {
    background-color: transparent !important; 
}


body {
    background-color:#5d4242;
    color: #969696;
    
}

#code-card{
    background-color:#5d4242;
}


/* Needed for Snippet title overflow in side bar*/
/* Once list has reached max height. Deploys vertical scroll */
#code-list {
    height:450;
    overflow-y: scroll;
    
}

