<!--NAVBAR-->
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Instructions</h4>
      <li>Register an account if you haven't already </li>
      <li>Login to your account after creating one </li>
      <li>Create a new snippet</li>
      <li>Make sure to add file extension to the title of snippet. Ex: program.py, example.java, hello_world.c </li>
      <li>Don't worry if you didn't add an extension. We will try and guess your language too!</li>
      <li>Add a tag if you wish. Make sure to use the form #tag or even add multiple tags to a snippet: #tag1, #tag2</li>
      <li>Then you can view your snippet in the dashboard</li>
      <li>Use the search bar to search by title, file extension, or even tag!</li>
      <li>To search by tag enter # then the name of the tag: #tag1 </li>
      <li>Edit your snippet too. Tags, titles, and content can all be edited</li>
      <li> Delete and copy your code using the corresponding buttons as well. </li>

      <span class="text-muted">Hidden Text!</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
