{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">
{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Hello, Bootstrap</h1>
  <p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet odio interdum, efficitur purus quis, pellentesque urna. Duis at ultrices lectus, sit amet efficitur mi. Nam lectus nunc, semper nec eleifend id, rhoncus nec nulla. Curabitur porttitor nisi nec justo suscipit varius. In sit amet vehicula felis. Aenean ultrices sodales augue sed condimentum. Pellentesque egestas odio eu nisl ornare fermentum. Donec ut tincidunt lorem, eget efficitur enim.

Etiam non lectus ac tortor sollicitudin sodales. Sed imperdiet laoreet diam nec sollicitudin. Donec mattis id lectus in lacinia. Pellentesque aliquet vel velit ac cursus. Aenean quis sollicitudin nibh. Sed aliquet tincidunt nisi, non convallis orci placerat ac. Vestibulum velit tortor, maximus commodo odio ac, finibus dignissim massa.

Donec lacus ante, tristique at elit sodales, rutrum tincidunt sapien. Nullam lectus augue, vulputate in varius vel, rhoncus aliquam nisi. Duis laoreet at urna ac maximus. Mauris ultrices turpis in hendrerit porta. Sed tempor quam sit amet elit ultricies ultricies. Ut facilisis gravida nulla. Curabitur scelerisque felis nec molestie ultricies. Aenean fermentum tempus justo, ut gravida mauris elementum vel. Nam et bibendum felis, pretium aliquam libero. Quisque dignissim varius venenatis. Nam ipsum diam, gravida sit amet lacus non, lacinia blandit velit.

Donec pretium, ligula in dictum porttitor, enim nulla faucibus dui, quis elementum dui erat ac erat. Mauris est metus, commodo id purus sed, maximus scelerisque nibh. Integer aliquet libero ac turpis feugiat sodales. Aliquam volutpat lorem sit amet bibendum gravida. Nunc eget lacus euismod, sollicitudin dui eget, aliquam nibh. Quisque ligula felis, tempor eget sapien in, lobortis venenatis massa. Curabitur eu semper felis. Maecenas sit amet elit ut elit volutpat ultricies sed id tellus. Cras sit amet tortor in purus posuere condimentum.

Quisque tincidunt magna in ornare tempor. Vivamus dapibus at nunc nec ornare. Integer ornare varius quam in laoreet. Quisque at purus pharetra, porttitor augue ac, tempor arcu. Duis id nulla sit amet leo fermentum sagittis ac vitae libero. Fusce eu justo quis odio fermentum hendrerit sed eu arcu. In mi ante, posuere non magna consequat, commodo volutpat nulla. Mauris porttitor eros at sem scelerisque, sed euismod turpis vulputate. Morbi scelerisque, enim eu imperdiet lobortis, nulla dui ullamcorper enim, elementum eleifend nibh odio non arcu. Sed sed nunc id sapien malesuada feugiat. Fusce in odio tortor. Quisque tincidunt tellus nibh, in euismod nibh tincidunt ut. In hac habitasse platea dictumst. </p>


{{ highlighted_code|safe }}

{% endblock %}
